<div class="sidebar-card shadow-sm border-0">
  <div class="p-3 bg-primary text-white rounded-top">
    <h3 class="mb-0">Main Menu</h3>
  </div>
  
  <div class="list-group list-group-flush">
    <a routerLink="/home" 
       routerLinkActive="active-link" 
       (click)="onLinkClick()"
       class="list-group-item list-group-item-action py-3">
      <mat-icon class="mr-2">dashboard</mat-icon> <h3>Dashboard</h3>
    </a>

    <br>

    <a routerLink="/tasks" 
       routerLinkActive="active-link" 
       (click)="onLinkClick()"
       class="list-group-item list-group-item-action py-3">
      <mat-icon class="mr-2">list_alt</mat-icon> <h3>To Do</h3>
    </a>

    <br>

    <a routerLink="/profile" 
       routerLinkActive="active-link" 
       (click)="onLinkClick()"
       class="list-group-item list-group-item-action py-3">
      <mat-icon class="mr-2">person</mat-icon> <h3>Profile</h3>
    </a>

    <br>

    <a routerLink="/skills" 
       routerLinkActive="active-link" 
       (click)="onLinkClick()"
       class="list-group-item list-group-item-action py-3">
      <mat-icon class="mr-2">psychology</mat-icon> <h3>Roadmap</h3>
    </a>

    <br>

    <a href="javascript:void(0)" 
      (click)="onLogout()"
      class="list-group-item list-group-item-action py-3 text-danger">
      <mat-icon class="mr-2">logout</mat-icon> <h3>Logout</h3>
    </a>
    
    <br>

  </div>
</div>