<app-header [username]="user.name" [taskCount]="taskList.length"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="app-sidenav shadow">
    <div class="p-3">
      <app-sidebar (navigated)="sidenav.close()"></app-sidebar>
      </div>
  </mat-sidenav>

  <mat-sidenav-content class="bg-slate-light">
    <div class="p-3 d-flex align-items-center bg-white border-bottom shadow-sm">
      <button mat-icon-button (click)="sidenav.toggle()" class="text-primary">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ml-2 font-weight-bold text-slate text-uppercase">Pathfinder</span>
    </div>

    <div class="container-fluid py-4 mb-5">
      <router-outlet></router-outlet> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer class="fixed-footer shadow-sm"></app-footer>