<h1>Welcome to {{ user.title | uppercase }}</h1>
<p>Intern <strong>{{ user.name }}</strong></p>

<p>Today is {{ currentDate | date: 'fullDate'}}</p>

<div style="margin: 20px 0;">
    <button class="btn-main" [disabled]="!allowClick" (click)="toggleTasks()">
        {{ showTasks ? 'Hide To Do List' : 'View To Do List' }}
    </button>
</div>

<hr>


<div class="input-section">
    <input type="text" #taskInput placeholder="Enter new task...">
    <button (click)="addTask(taskInput)">Add New Task</button>
</div>

<br>

<div *ngIf="showTasks; else noTasksTemplate">
  <h3>To Do List</h3>
  
  <table border="1">
    <thead>
      <tr>
        <th>Num</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Deadline</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList; let i = index">
        <td>{{ i + 1 }}</td>

        <td [style.text-decoration]="task.isDone ? 'line-through' : 'none'">
            {{ task.description | lowercase }}
        </td>

        <td>{{ task.priority | priority }}</td>

        <td>{{ task.deadline | date: 'MMMM d, y' }}</td>

        <td>
            <button (click)="toggleComplete(task)">
                {{ task.isDone ? 'Undo' : 'Done' }}
            </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>


<ng-template #noTasksTemplate>
  <p><i>The list is hidden. Click the button above to view your tasks.</i></p>
</ng-template>
